*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navheader{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 100px;
}
nav ul li{
    display: inline-block;
}
a{text-decoration: none;
padding-right: 20px;}

nav ul li a{
    font-weight: bold;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 40px;
    border: 2px solid black;
    border-right: transparent;
    color: orange;
}
 
.navbtn{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 700px;
    text-transform: uppercase;
}
.navbtn:hover{
    background-color: white;
    color: orange;
}
.aboutme{
    position: absolute;
    top: 40%;
    left: 12%;
    line-height: 100px; 
}

.aboutme h1 span{
    font-size: 90px;
    width: 70%;
}
.aboutme p{
    font-size: 22px;
    width: 70%;
}

.aboutme h1{
    font-size: 60px;
    font-weight: 800px;
}
.image{
    position: absolute;
    top: 20%;
    left: 68%;
}
.image img{
    border-radius: 50px;
}