*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navheader{
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
}

.navheader nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 100px;
}
nav ul li{
    display: inline-block;
}
a{text-decoration: none;
padding-right: 20px;}

nav ul li a{
    font-weight: bold;
    color: white;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.logo::first-letter{
    font-size: 40px;
    border: 2px solid black;
    border-right: transparent;
    color: orange;
}
 
.navbtn{
    background-color: orange;
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    font-weight: 700px;
    text-transform: uppercase;
}
.navbtn:hover{
    background-color: white;
    color: orange;
}
.aboutme{
    position: absolute;
    top: 40%;
    left: 12%;
    line-height: 100px; 
}

.aboutme h1 span{
    font-size: 90px;
    width: 70%;
}
.aboutme p{
    font-size: 22px;
    width: 70%;
}

.aboutme h1{
    font-size: 60px;
    font-weight: 800px;
}
.image{
    position: absolute;
    top: 20%;
    left: 68%;
}
.image img{
    border-radius: 50px;
}

.servicecon{
    height: 100vh;
    width: 100vw;
    background-color: rgb(164, 219, 222);
    display: flex;
    justify-content: space-evenly;
}

.servicecon h1{
    text-align: center;
    position: absolute;
    color: orange;
    font-size: 65px;
    margin-top: 6%;
}

.box{
    height: 380px;
    width: 300px;
    background-color: rgb(52, 148, 148);
    margin-top: 15%;
    border-radius: 20%;
    text-align: center;
}

.box img{
    height: 90px;
    width: 80px;
    margin: 15px 0px;
}

.box h3{
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

.box p{
    font-size: 18px;
    font-weight: 500px;
    color: rgb(73, 48, 16);
    line-height: 25px;
}

.boxbtn{
    margin-top: 50px;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    font-weight: 800px;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio{
    height: 100vh;
    width: 100vw;
    background-color: rgb(114, 111, 111);
}
.myport{
    text-align: center;
    padding: 50px;
    color: white;
}
.myport h1{
    font-size: 70px;
}
.myport p{
    font-size: 25px;
    padding: 20px;
    font-weight: 600px;
}
.myport ul{
    text-align: center;
    padding: 30px;
    justify-content: space-evenly;
}

.myport ul li{
    border: 2px solid ;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
}
.pic{
    display: flex;
    justify-content: center;
}

.pic img{
    height: 250px;
    width: 300px;
}